[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# db
alembic = '*'
psycopg = { version = "*", extras = ["binary"] }
psycopg2-binary = "*"
SQLAlchemy = { version = "*", extras = ["asyncio"] }

# fastapi
fastapi = "*"
fastapi-pagination = { version = "*", extras = ["sqlalchemy"] }
pydantic-settings = "*"

# deploy
uvicorn = { version = "*", extras = ["standard"] }

# extra
ipython = "*"

[dev-packages]
# linters
black = { version = "*", extras = ["d"] }
flake8 = "*"
Flake8-pyproject = "*"
isort = "*"
mypy = "*"

# testing
httpx = "*"
pytest = "*"
pytest-asyncio = "*"
sqlalchemy-utils = "*"
types-sqlalchemy-utils = "*"
faker = "*"

[requires]
python_version = "3.11.4"
