[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = '*'
psycopg = {version = "*", extras = ["binary"]}
psycopg2-binary = "*"
SQLAlchemy = {version = "*", extras = ["asyncio"]}
fastapi = "*"
fastapi-pagination = {version = "*", extras = ["sqlalchemy"]}
pydantic-settings = "*"
uvicorn = {version = "*", extras = ["standard"]}
ipython = "*"

[dev-packages]
black = {version = "*", extras = ["d"]}
flake8 = "*"
Flake8-pyproject = "*"
isort = "*"
mypy = "*"
httpx = "*"
pytest = "*"
pytest-asyncio = "*"
factory_boy = "*"
types-factory-boy = "*"



[requires]
python_version = "3.11.4"
